<div class="row bid-bid">
  <h3>Bid</h3>
  <%= @bid.id %>
  <%= @bid.user_id %>
  <%= @bid.project_id %>
  <%= @bid.amount %>
  <%= @bid.comment %>
  <%= @bid.status %>
  <%= @bid.created_at %>
  <%= @bid.updated_at %>
</div>
