<div class="chat-window">

  <div class="chat-top">
    <h4><%= @bid.project.service.name %></h4>
  </div>

  <div class="panel panel-default chatbox">
    <% if @bid.messages.any? %>
      <div class="panel-body" id="messages">
        <%= render partial: 'messages/message', collection: @bid.messages%>
      </div>
    <%else%>
      <div class="panel-body" id="messages">
      </div>
    <%end%>
  </div>

  <%= render partial: 'messages/message_form', locals: {message: @message, bid: @bid}%>

  <% if current_user.pro? %>
    <p>
      <i class="fa fa-circle" id="user_<%= @bid.project.requester.id %>" aria-hidden="true"></i>
      <%= @bid.project.requester.full_name %>
    </p>
  <% else %>
    <p>
      <i class="fa fa-circle" id="user_<%= @bid.pro.id %>" aria-hidden="true"></i>
      <%= @bid.pro.full_name %>
    </p>
  <% end  %>

</div>
