<div class="row col-md-4">

  <h1><%= @bid.project.service.name %></h1>

  <div class="panel panel-default chatbox">
    <% if @bid.messages.any? %>
      <div class="panel-body" id="messages">
        <%= render partial: 'messages/message', collection: @bid.messages%>
      </div>
    <%else%>
      <div class="panel-body hidden" id="messages">
      </div>
    <%end%>
  </div>

  <p>
    <span class="appearance-icon" data-behavior="appear_away"></span>Chatting with: <%= current_user.last_name %>
    <% if current_user == @bid.pro %>
      <span class="appearance-icon" data-behavior="appear_away"></span>Chatting with: <%= @bid.project.requester.first_name %>
    <% else %>
      <span class="appearance-icon" data-behavior="appear_away"></span>Chatting with: <%= @bid.pro.first_name %>
    <% end %>
  </p>

  <%= render partial: 'messages/message_form', locals: {message: @message, bid: @bid}%>

</div>
