<div class="row col-md-4 chat-window">

  <h1><%= @bid.project.service.name %></h1>

  <% if current_user.id != @bid.pro.id %>
    <span class="pro-name"><i class="fa fa-thumb-tack" id="user_<%= current_user.id %>" aria-hidden="true"></i> Provided by: <%= @bid.pro.full_name %></span>
  <% else %>
    <span class="pro-name"><i class="fa fa-thumb-tack" id="user_<%= @bid.pro.id %>" aria-hidden="true"></i> Service for: <%= @bid.project.requester.full_name %></span>
  <% end %>

  <div class="panel panel-default chatbox">
    <% if @bid.messages.any? %>
      <div class="panel-body" id="messages">
        <%= render partial: 'messages/message', collection: @bid.messages%>
      </div>
    <%else%>
      <div class="panel-body hidden" id="messages">
      </div>
    <%end%>
  </div>

  <%= render partial: 'messages/message_form', locals: {message: @message, bid: @bid}%>

  <p class="main" id="user_<%= current_user.id %>">
    Online as: <%= current_user.first_name %>
  </p>

</div>
