<div class="col-xs-12 bid-project">
  <div class="col-sm-4">
    <div id="bid-map">
      <div id='map'>
      </div>
      <div hidden id="lat"><%= @bid.project.latitude %></div>
      <div hidden id="lng"><%= @bid.project.longitude %></div>
      <div hidden id="radius">0</div>
      <div hidden id="zoom">12</div>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["google_api_key"] %>&callback=initMap">
      </script>
    </div>
  </div>

  <div class="col-sm-8">
    <h3>Project Alias | Status: <%= @bid.project.status %></h3>
    <div class="col-sm-6">
      <p><span>Project ID:</span> <%= @bid.project.id %></p>
      <p><span>Estimated Time:</span>  <%= @bid.project.timeline %></p>
      <p><span>Recurring:</span>  <%= @bid.project.recurring %></p>
    </div>
    <div class="col-sm-6">
      <p><span>Created:</span> <%= distance_of_time_in_words(Time.now, @bid.project.created_at) %> ago</p>
      <p><span>Service:</span> <%= @bid.project.service.name %></p>
    </div>
  </div>
</div>
