<div class="row bid-project">
  <h3>Project Details</h3>
  <%= @bid.project.id %>
  <%= @bid.project.status %>
  <%= @bid.project.zipcode %>
  <%= @bid.project.recurring %>
  <%= @bid.project.description %>
  <%= @bid.project.created_at %>
  <%= @bid.project.updated_at %>
  <%= @bid.project.timeline %>
  <%= @bid.project.requester_id %>
  <%= @bid.project.service_id %>
</div>
