<div class="bid-client">
  <h3>Client</h3>
  <%= image_tag('default_profile_image.jpg', class: "small-profile-image img-circle") %>
  <h4><%= @bid.project.requester.full_name %></h4>
  <h3>Contact</h3>
  <p>Phone: <%= @bid.project.requester.phone_number %> </p>
  <p>Email: <%= @bid.project.requester.email %> </p>
</div>

<div class="bid-pro">
  <h3>Pro Details</h3>
  <%= image_tag('default_profile_image.jpg', class: "small-profile-image img-circle") %>
  <h4><%= @bid.pro.full_name %></h4>
  <h3>Contact</h3>
  <p>Phone: <%= @bid.pro.phone_number %></p>
  <p>Email: <%= @bid.pro.email %></p>
</div>
