<div class="container">
  <div class="row">
    <div class="col-md-8 bid-block">
      <%= render 'project_details' %>

      <%= render 'bid_details' %>

      <% if @bid.pro.id == current_user.id %>
        <%= render 'client_details' %>
      <% else %>
        <%= render 'pro_details' %>
      <% end %>

      <%= render 'bid_action_buttons' %>
    </div>

    <%= render 'chatbox' %>

  </div>
</div>
