<div class="container">
  <div class="row">
    <div class="col-md-8 bid-block">
      <%= render 'project_details' %>

      <%= render 'bid_details' %>
      <%= render "#{details}_details"%>
      <%= render 'bid_action_buttons' %>
    </div>

    <%= render 'chatbox' %>

  </div>
</div>
