<% @type = @pro %>
<% @path = pro_index_path %>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h4>These are the services you provide</h4>
      <% @services.each do |service| %>
        <%= service.name %><br>
      <% end %>
      <h4>And the distance you are willing to travel to perform them</h4>
      <%= @radius %> Miles
      <h2>Create your account</h1>
    </div>
  </div>
  <div class="form-signin">
    <h4>Account Info</h4>
    <%= render "shared/user_form" %><br>
    <%= link_to "Sign Up With Facebook", '/auth/facebook?user_type=pro', class: "facebook-button" %>
  </div>

  <div class="ZipRadiusMapContainer">
    <div id='map'></div>
    <div hidden id="lat"><%= @location.lat %></div>
    <div hidden id="lng"><%= @location.lng %></div>
    <div hidden id="radius"><%= @radius %></div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["google_api_key"] %>&callback=initMap">
    </script>
  </div>
</div>